<h2>Users</h2>
    
<h3>Female:</h3>
    <ol>
    {{#each femaleUsers}}
    <li>{{this.first}} - {{this.last}} - {{this.id}} - {{this.timestamp}}</li>
    {{/each}}
    </ol>

<h3>Male:</h3>
    <ol>
    {{#each maleUsers}}
    <li>{{this.first}} - {{this.last}} - {{this.id}} - {{this.timestamp}}</li>
    {{/each}}
    </ol>